body {
    font-family: "Roboto", sans-serif;
}

.navbar-brand {
    font-family: "Montserrat Subrayada", sans-serif;
    font-style: italic;
}

.navbar {
    background-color: #286afa;
}

header .nav .nav-link.active {
    background-color: white;
    color: #286afa;
}

header .nav .nav-link,
.navbar-brand,
.navbar-brand:hover {
    color: white;
}

.navbar-toggler {
    background-color: #8fe2f3;
}

.section-title {
    font-family: "Raleway", sans-serif;
    font-style: italic;
}

#about-the-school {
    background-color: #e4edff;
}

.colored-text {
    color: #286afa;
}

p {
    text-align: justify;
}